<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <title>Neutrosophic  Matrix Normalization </title>
  </head>
  <body>
  <div class="container">
  <h3>Neutrosophic Sets and Systems  Projects</h3>
  <p>Projects Implemented by Python.</p>
</div>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/ivns">IVNS Operations </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/ivns/norm">Neoutrosophic Matrix Normalization</a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="/ivns/ahp">Neutrosophic AHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ivns/similarity" >Neutrosophic similarity</a>
    </li>

  </ul>
</nav>


<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2"> Neutrosophic  Matrix Normailization </h1>
          <hr class="mt-0 mb-4">
        You can copy and paste your neutrosophic matrix here.<br>
        each elment in form of <[TL,TU],[IL,IU],[FL,FU]> <br> use <b>double</b>
        space between elements and use<b> new line</b> for new row.



          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>




<form method="post" action="">{% csrf_token %}
<table border="0" width="80%" align="center">
    <tr><td width="80%"><h5>Enter Matrix </h5>
    </td><td width="20%"><h1> </h1></td></tr>
    <tr><td> {{ form.matrix  }} </td><td>Matrix Is Beneficial : {{ form.beneficial  }}</td></tr>
     <tr><td align="center">
    <button type="submit" class="btn btn-primary" name="linear">Linear </button>
    <button type="submit" class="btn btn-primary" name="maxmin">Linear (Max-Min)</button>
    <button type="submit" class="btn btn-primary" name="sum">Linear (Sum)</button>
          <button type="submit" class="btn btn-primary" name="vector">Vector</button>
          <button type="submit" class="btn btn-primary" name="enhanced">Enhanced Accuracy</button>
    </td>

</table>

    <div>
        <p align="center">
            <label for="result"><h4 align="center">Result -  {{ resultlabel }} - :</h4></label></p>
        <p align="center"><textarea  rows="8" cols="120" id="result" cols="40">{{ result }}</textarea></p>

</div>


</form>


  </body>
</html>